<div class="product-container">
    <h2>Our Products</h2>
    <div class="product-list">
        <div class="product-card">
            <div class="image-wrapper">
                <img [src]="product.image" alt="{{ product.title }}" />
            </div>
            <h3>{{ product.title }}</h3>
            @if (product.onSale) {
            <p class="sale-badge">On Sale!</p>
            } @else {
            <p>Regular Price</p>
            }
            <span>{{ product.price }} EGP</span>
            <button class="view-btn">View Details</button>
        </div>
    </div>
</div>